.hiro{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(rgba(14, 2, 93, 0.278)), url('../assets/hero.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hiro-text{
    text-align: center;
    max-width: 800px;

}

.hiro-text h1{
    font-size: 60px;
    font-weight: 600;
}

.hiro-text p{
    max-width: 700;
    margin: 10px auto 20px;
    line-height: 1.4;
}